# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Creating markdown cells
* Creating text, tables, headings and lists inside markdown cells
* Creating and running code cells

## Author
Eero

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Jupyter Lab|
|R-studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min / 60
hours

3.3333333333333335